<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airbnb.web.mapper.HYMapper">
<resultMap type="com.airbnb.web.command.ResultMap" id="ResiMap">
      <id property="hostSerial" column="host_serial"/>
      <result property="infoImg" column="info_img"/>
      <result property="price" column="price"/>      
      <result property="residenceName" column="residence_name"/>      
   </resultMap>
    <insert id="insertBoard" parameterType="com.airbnb.web.domain.Board">
		INSERT INTO board (
		   board_seq
		  ,board_content
		  ,board_regdate
		  ,member_id		  
		) VALUES (#{boardSeq},#{contents},now(),#{memberId})
	</insert>
	   <insert id="insertReviewBoard" parameterType="com.airbnb.web.domain.Board">
		INSERT INTO reviewboard (
		   board_seq
		  ,review_star
		  ,host_serial
		) VALUES (#{boardSeq},#{reviewStar},#{hostSerial})
	</insert>
	

	<select id="selectList" parameterType="com.airbnb.web.command.Command" resultMap="ResiMap">
		SELECT * FROM residence
		WHERE residence_name LIKE '%${action}%'
		OR member_id LIKE #{search}
		ORDER BY residence_name

	<!-- 	SELECT * FROM residence
	  <if test="action != null">
		    WHERE addr like 
	</if>  -->
	</select>

	<select id="count">

	</select>

	<select id="selectOne">
			<!-- SELECT * FROM Residence WHERE host_serial = #{action} -->
	</select>

	<update id="update" >
	
	</update>

	<delete id="delete" parameterType="com.airbnb.web.command.Command">
	
	</delete> 
</mapper>